{{define "navbar"}}
<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">My Bolg</a>
            <ul class="nav navbar-nav">
                <li {{if .IsHome}}class="active"{{end}}><a href="/">Home</a></li>
                <li {{if .IsCategory}}class="active"{{end}}><a href="/category">Classfication</a></li>
                <li {{if .IsTopic}}class="active"{{end}}><a href="/topic">Article</a></li>
            </ul>
            <div class="pull-right">
                <ul class="nav navbar-nav">
                {{if .IsLogin}}
                    <li><a href="/login?exit=aaa">logout</a></li>
                {{else}}
                    <li><a href="/login">login</a></li>
                {{end}}
                </ul>
            </div>
        </div>
</div>
<br><br>
{{end}}